---
http_interactions:
- request:
    method: get
    uri: https://www2.cdc.gov/vaccines/iis/iisstandards/XML.asp?rpt=vax2vg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<VGCodes>\r\n <CVXVGInfo>\r\n <Name>ShortDescription</Name>\r\n
        <Value>DTP</Value>\r\n <Name>CVXCode</Name>\r\n <Value>01        </Value>\r\n
        <Name>Status</Name>\r\n <Value>Inactive</Value>\r\n <Name>Vaccine Group Name</Name>\r\n
        <Value>DTAP</Value>\r\n <Name>CVX for Vaccine Group</Name>\r\n <Value>107</Value>\r\n
        </CVXVGInfo>\r\n <CVXVGInfo>\r\n <Name>ShortDescription</Name>\r\n <Value>OPV</Value>\r\n
        <Name>CVXCode</Name>\r\n <Value>02        </Value>\r\n <Name>Status</Name>\r\n
        <Value>Inactive</Value>\r\n <Name>Vaccine Grou[...]
