---
http_interactions:
- request:
    method: get
    uri: https://www2.cdc.gov/vaccines/iis/iisstandards/XML.asp?rpt=vax2vg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<VGCodes>\r\n <CVXVGInfo>\r\n <Name>ShortDescription</Name>\r\n
        <Value>DTP</Value>\r\n <Name>CVXCode</Name>\r\n <Value>01        </Value>\r\n
        <Name>Status</Name>\r\n <Value>Inactive</Value>\r\n <Name>Vaccine Group Name</Name>\r\n
        <Value>DTAP</Value>\r\n <Name>CVX for Vaccine Group</Name>\r\n <Value>107</Value>\r\n
        </CVXVGInfo>\r\n <CVXVGInfo>\r\n <Name>ShortDescription</Name>\r\n <Value>OPV</Value>\r\n
        <Name>CVXCode</Name>\r\n <Value>02        </Value>\r\n <Name>Status</Name>\r\n
        <Value>Inactive</Value>\r\n <Name>Vaccine Grou[...]
- request:
    method: get
    uri: https://www2a.cdc.gov/vaccines/iis/iisstandards/XML.asp?rpt=tradename
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n<productnames>\r\n <prodInfo>\r\n <Name>CDC
        Product Name</Name>\r\n <Value>ACAM2000</Value>\r\n <Name>Short Description</Name>\r\n
        <Value>vaccinia (smallpox)</Value>\r\n <Name>CVXCode</Name>\r\n <Value>75
        \       </Value>\r\n <Name>Manufacturer</Name>\r\n <Value>Acambis, Inc</Value>\r\n
        <Name>MVX Code</Name>\r\n <Value>ACA       </Value>\r\n <Name>MVX Status</Name>\r\n
        <Value>Inactive</Value>\r\n <Name>Product name Status</Name>\r\n <Value>Inactive</Value>\r\n
        <Name>Last Updat[...]
