---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs/heads/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7dc51c55deb680ee1a0c5894e68c0a8262bd690e88add2f07cb453c705f5c1dc"
      Last-Modified:
      - Mon, 08 Feb 2021 16:24:30 GMT
      X-Poll-Interval:
      - '300'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '15000'
      X-Ratelimit-Remaining:
      - '14997'
      X-Ratelimit-Reset:
      - '1612808569'
      X-Ratelimit-Used:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"ref":"refs/heads/master","node_id":"MDM6UmVmMzMyMDI2Njc6cmVmcy9oZWFkcy9tYXN0ZXI=","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs/heads/master","object":{"sha":"9176c22f5d3fe1c54e849107d0d82db045487e1e","type":"commit","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/commits/9176c22f5d3fe1c54e849107d0d82db045487e1e"}}'
  recorded_at: Mon, 08 Feb 2021 17:22:49 GMT
- request:
    method: post
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/02082021172249711_update_cypress_viewport_data","sha":"9176c22f5d3fe1c54e849107d0d82db045487e1e"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"247ca1b2cce3c0cb0cbf01828a5709e0ebe220294df4b4d03cd398cb2dcf6bf4"'
      Location:
      - https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs/heads/02082021172249711_update_cypress_viewport_data
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '15000'
      X-Ratelimit-Remaining:
      - '14996'
      X-Ratelimit-Reset:
      - '1612808569'
      X-Ratelimit-Used:
      - '4'
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/02082021172249711_update_cypress_viewport_data","node_id":"MDM6UmVmMzMyMDI2Njc6cmVmcy9oZWFkcy8wMjA4MjAyMTE3MjI0OTcxMV91cGRhdGVfY3lwcmVzc192aWV3cG9ydF9kYXRh","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs/heads/02082021172249711_update_cypress_viewport_data","object":{"sha":"9176c22f5d3fe1c54e849107d0d82db045487e1e","type":"commit","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/commits/9176c22f5d3fe1c54e849107d0d82db045487e1e"}}'
  recorded_at: Mon, 08 Feb 2021 17:22:50 GMT
recorded_with: VCR 6.0.0
