---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs/heads/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d9683e7c0a2aea148de8a65554646552487af6fa6535a98353eac0380a51384f"
      Last-Modified:
      - Mon, 08 Feb 2021 16:24:30 GMT
      X-Poll-Interval:
      - '300'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '15000'
      X-Ratelimit-Remaining:
      - '14988'
      X-Ratelimit-Reset:
      - '1612808569'
      X-Ratelimit-Used:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"ref":"refs/heads/master","node_id":"MDM6UmVmMzMyMDI2Njc6cmVmcy9oZWFkcy9tYXN0ZXI=","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs/heads/master","object":{"sha":"9176c22f5d3fe1c54e849107d0d82db045487e1e","type":"commit","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/commits/9176c22f5d3fe1c54e849107d0d82db045487e1e"}}'
  recorded_at: Mon, 08 Feb 2021 17:22:54 GMT
- request:
    method: post
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/02082021172254482_update_cypress_viewport_data","sha":"9176c22f5d3fe1c54e849107d0d82db045487e1e"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"447e5a1fed981b73e8be11663d77ac30182f2ef8e27b15010c90a7e6ece8e0d2"'
      Location:
      - https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs/heads/02082021172254482_update_cypress_viewport_data
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '15000'
      X-Ratelimit-Remaining:
      - '14987'
      X-Ratelimit-Reset:
      - '1612808569'
      X-Ratelimit-Used:
      - '13'
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/02082021172254482_update_cypress_viewport_data","node_id":"MDM6UmVmMzMyMDI2Njc6cmVmcy9oZWFkcy8wMjA4MjAyMTE3MjI1NDQ4Ml91cGRhdGVfY3lwcmVzc192aWV3cG9ydF9kYXRh","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs/heads/02082021172254482_update_cypress_viewport_data","object":{"sha":"9176c22f5d3fe1c54e849107d0d82db045487e1e","type":"commit","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/commits/9176c22f5d3fe1c54e849107d0d82db045487e1e"}}'
  recorded_at: Mon, 08 Feb 2021 17:22:55 GMT
recorded_with: VCR 6.0.0
