---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/app/installations/14176090/access_tokens
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3633650163a6ee1f18360451ce82b73e82c92c3cc539ecec2212767e93fcc32c"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"token":"removed","expires_at":"2021-02-02T18:24:37Z","permissions":{"contents":"write","metadata":"read","pull_requests":"write"},"repository_selection":"selected"}'
  recorded_at: Mon, 08 Feb 2021 17:22:52 GMT
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs/heads/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2e5a60801227da407ebd1a20dda12785d71d1a8a69217239b203b0560db7f378"
      Last-Modified:
      - Mon, 08 Feb 2021 16:24:30 GMT
      X-Poll-Interval:
      - '300'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '15000'
      X-Ratelimit-Remaining:
      - '14994'
      X-Ratelimit-Reset:
      - '1612808569'
      X-Ratelimit-Used:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"ref":"refs/heads/master","node_id":"MDM6UmVmMzMyMDI2Njc6cmVmcy9oZWFkcy9tYXN0ZXI=","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs/heads/master","object":{"sha":"9176c22f5d3fe1c54e849107d0d82db045487e1e","type":"commit","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/commits/9176c22f5d3fe1c54e849107d0d82db045487e1e"}}'
  recorded_at: Mon, 08 Feb 2021 17:22:52 GMT
- request:
    method: post
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/02082021172252026_update_cypress_viewport_data","sha":"9176c22f5d3fe1c54e849107d0d82db045487e1e"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - removed
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"19bc434ed90e15c40bd681eacb8cc92134706ec96a06a794f794e99b95eb9c0a"'
      Location:
      - https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs/heads/02082021172252026_update_cypress_viewport_data
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '15000'
      X-Ratelimit-Remaining:
      - '14993'
      X-Ratelimit-Reset:
      - '1612808569'
      X-Ratelimit-Used:
      - '7'
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/02082021172252026_update_cypress_viewport_data","node_id":"MDM6UmVmMzMyMDI2Njc6cmVmcy9oZWFkcy8wMjA4MjAyMTE3MjI1MjAyNl91cGRhdGVfY3lwcmVzc192aWV3cG9ydF9kYXRh","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/refs/heads/02082021172252026_update_cypress_viewport_data","object":{"sha":"9176c22f5d3fe1c54e849107d0d82db045487e1e","type":"commit","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-website/git/commits/9176c22f5d3fe1c54e849107d0d82db045487e1e"}}'
  recorded_at: Mon, 08 Feb 2021 17:22:53 GMT
recorded_with: VCR 6.0.0
