---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/incidents
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token=y_NbAkKc66ryYTWUXYEu
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"incidents":[{"incident_number":1,"title":"Launch Vehicle Disintegrated","description":"Launch Vehicle Disintegrated","created_at":"2021-01-07T19:32:58Z","status":"resolved","incident_key":"37cde688ddf24f6dbfc862407c492b0d","service":{"id":"P703E9Q","type":"service_reference","summary":"Korabl-Sputnik 1","self":"https://api.pagerduty.com/services/P703E9Q","html_url":"https://pdt-apidocs.pagerduty.com/service-directory/P703E9Q"},"assignments":[],"assigned_via":"escalation_policy","last_status_change_at":"2021-01-07T19:36:03Z","first_trigger_log_entry":{"id":"RRX5PL5J2AKZIIJ554C4GG5YRY","type":"trigger_log_entry_reference","summary":"Triggered through the website","self":"https://api.pagerduty.com/log_entries/RRX5PL5J2AKZIIJ554C4GG5YRY","html_url":"https://pdt-apidocs.pagerduty.com/incidents/PMN3VMG/log_entries/RRX5PL5J2AKZIIJ554C4GG5YRY"},"alert_counts":{"all":0,"triggered":0,"resolved":0},"is_mergeable":true,"escalation_policy":{"id":"PH601HN","type":"escalation_policy_reference","summary":"Korabl-Sputnik 1","self":"https://api.pagerduty.com/escalation_policies/PH601HN","html_url":"https://pdt-apidocs.pagerduty.com/escalation_policies/PH601HN"},"teams":[{"id":"PGVXG6U","type":"team_reference","summary":" Union of Soviet Socialist Republics Space (USSR)","self":"https://api.pagerduty.com/teams/PGVXG6U","html_url":"https://pdt-apidocs.pagerduty.com/teams/PGVXG6U"}],"pending_actions":[],"acknowledgements":[],"basic_alert_grouping":null,"alert_grouping":null,"last_status_change_by":{"id":"PRJ4208","type":"user_reference","summary":"Brett Willemsen","self":"https://api.pagerduty.com/users/PRJ4208","html_url":"https://pdt-apidocs.pagerduty.com/users/PRJ4208"},"priority":{"id":"PITMC5Y","type":"priority","summary":"P1","self":"https://api.pagerduty.com/priorities/PITMC5Y","html_url":null,"account_id":"PI81XD7","color":"a8171c","created_at":"2020-07-09T15:48:17Z","description":"Urgent","name":"P1","order":67108864,"schema_version":0,"updated_at":"2020-07-09T15:49:09Z"},"resolve_reason":null,"incidents_responders":[],"responder_requests":[],"subscriber_requests":[],"urgency":"high","id":"PMN3VMG","type":"incident","summary":"[#1] Launch Vehicle Disintegrated","self":"https://api.pagerduty.com/incidents/PMN3VMG","html_url":"https://pdt-apidocs.pagerduty.com/incidents/PMN3VMG"},{"incident_number":2,"title":"Deorbit, engines not cut off as planned","description":"Deorbit, engines not cut off as planned","created_at":"2021-01-08T15:36:37Z","status":"resolved","incident_key":"b2ee42084473424ca83183f5f8d5cbd1","service":{"id":"PQVUB8D","type":"service_reference","summary"[...]
