---
http_interactions:
- request:
    method: post
    uri: https://dev-api.va.gov/services/address_validation/v1/candidate
    body:
      encoding: UTF-8
      string: '{"requestAddress":{"addressLine1":"sdfdsfsdf","city":"Sparks Glencoe","requestCountry":{"countryCode":"USA"},"addressPOU":"RESIDENCE/CHOICE","stateProvince":{"code":"MD"},"zipCode5":"21152"}}'
    headers:
      Content-Type:
      - application/json
      Cufsystemname:
      - VETSGOV
      Apikey:
      - "<AV_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Vet360txauditid:
      - c0f64bb7-384f-4488-94ff-be079f238b63
      X-Ratelimit-Limit-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Candidate-Address:
      - '500'
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Candidate-Address:
      - '499'
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Reset-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Candidate-Address:
      - '60000'
      X-Ratelimit-Sla-Limit-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Candidate-Address:
      - '250'
      X-Ratelimit-Sla-Remaining-Edge-Gateway-Address-Validation-Vagovli-Address-V1-Candidate-Address:
      - '249'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 05 Dec 2019 15:58:01 GMT
recorded_with: VCR 3.0.3
